<h3><%= @flat.name %></h3>

<ul>
  <li>Nom: <%= @flat.name %></li>
  <li>Description: <%= @flat.description %></li>
  <li>Addresse: <%= @flat.address %></li>
  <li>Capacité d'accueil: <%= @flat.max_guests %></li>
  <li>Prix par nuit :<%= @flat.price_per_night %></li>
</ul>
